.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  transition: 200ms ease;
  top: 60%;
  transform: translateY(-50%);
  border-radius: 50%;

  &::after {
    @include elDef();
    width: 100%;
    height: 100%;
    bottom: initial;
    background-color: var(--color-white);
    @include maskImage(url('../img/icons/slider-arrow.svg'), contain);
  }

  &:hover {
    transform: translateY(-50%) scale(1.2);
  }
}

.swiper-button-next {
  &::after {
    transform: rotate(180deg);
  }
}
