<section class="cabinet">
  <div class="container-1600">
    <div class="cabinet__wrapper">
      <div class="cabinet__top">
        <h2 class="cabinet__title">Кабинет</h2>
        <button class="cabinet__btn btn btn-fill-data" type="button">Заполнить данные</button>
      </div>

      <div class="cabinet__content">
        <h2 class="cabinet__title">Балансы румов</h2>

        <div class="cabinet__slider swiper">
          <ul class="cabinet__slides swiper-wrapper">
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/1.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/1.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">Skrill, $</span>
                </div>

                <p class="rooms-card__balance">0,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/1.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/1.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">Skrill, $</span>
                </div>

                <p class="rooms-card__balance">1,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/2.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/2.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">PS</span>
                </div>

                <p class="rooms-card__balance">0,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/2.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/2.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">PSES</span>
                </div>

                <p class="rooms-card__balance">0,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/3.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/3.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">888</span>
                </div>

                <p class="rooms-card__balance">0,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/4.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/4.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">GG</span>
                </div>

                <p class="rooms-card__balance">3 796,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/5.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/5.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">IP</span>
                </div>

                <p class="rooms-card__balance">39,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/6.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/6.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">PAR</span>
                </div>

                <p class="rooms-card__balance">0,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/7.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/7.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">WMX</span>
                </div>

                <p class="rooms-card__balance">3 796,00</p>

                <div class="rooms-card__bottom">
                  Внебонусные <br />
                  билеты: <span>0,00</span>
                </div>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/8.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/8.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">WPN</span>
                </div>

                <p class="rooms-card__balance">11,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/9.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/9.png"
                      alt="rooms"
                    />
                  </picture>

                  <span class="rooms-card__name">Binance</span>
                </div>

                <p class="rooms-card__balance">400,00</p>
              </div>
            </li>
            <li class="cabinet__slide swiper-slide">
              <div class="rooms-card">
                <div class="rooms-card__top">
                  <picture>
                    <source srcset="img/rooms/10.webp" type="image/webp" />
                    <img
                      class="rooms-card__img"
                      src="img/rooms/10.png"
                      alt="rooms"
                    />
                  </picture>
                </div>

                <p class="rooms-card__balance">0,00</p>

                <div class="rooms-card__bottom">
                  Бонусы вне <br />
                  баланса: <span>0,00</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="cabinet__bottom">
        <button class="cabinet__report btn btn-report" type="button">
          <span>Отчет</span>
        </button>
      </div>
    </div>
  </div>
</section>
