<section class="translation">
  <div class="container">
    <h2 class="translation__title">Переводы</h2>
    <div class="translation__wrapper">
      <div
        class="translation__content"
        data-simplebar
        data-simplebar-auto-hide="false"
      >
        <div class="translation__table">
          <ul class="translation__list">
            <li class="translation__row">
              <div class="translation__item">Имя</div>
              <div class="translation__item">Дата</div>
              <div class="translation__item">Счет</div>
              <div class="translation__item">Данные счета</div>
              <div class="translation__item">Сумма</div>
              <div class="translation__item">Валюта</div>
              <div class="translation__item">Действие</div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Ada Lovelace</div>
              <div class="translation__item">Декабрь</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="btn-submit btn-submit--orange" type="button">
                  Отправить
                </button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Grace Hopper</div>
              <div class="translation__item">Декабрь</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="btn-submit btn-submit--green" type="button">
                  Отправить
                </button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Margaret Hamilton</div>
              <div class="translation__item">Август, 17</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="btn-submit btn-submit--orange" type="button">
                  Отправить
                </button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="btn-submit btn-submit--green" type="button">
                  Отправить
                </button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
            </li>
            <li class="translation__row">
              <div class="translation__item">Joan Clarke</div>
              <div class="translation__item">Июнь, 14</div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item from-me">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
              <div class="translation__item edit-btn">
                <button class="edit-btn-blue" type="button">Edit</button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="translation__right">
        <form class="form-submit">
          <div class="form-submit__group">
            <label class="form-submit__label">Счет</label>
            <input class="form-submit__input input" type="text" />
          </div>
          <div class="form-submit__group">
            <label class="form-submit__label">Данные счета</label>
            <input class="form-submit__input input" type="text" />
          </div>
          <div class="form-submit__group">
            <label class="form-submit__label">Запрашиваемая сумма</label>
            <input class="form-submit__input input" type="text" />
          </div>

          <button class="form-submit__btn btn" type="submit">Запросить</button>
        </form>
      </div>
    </div>

    <div class="translation__cols">
      <div class="translation__col">
        <div class="form-submit">
          <div class="form-submit__inner">
            <button class="form-submit__btn btn btn-create-left" type="button">
              Cоздать перевод
            </button>
            <div class="form-submit__group">
              <input class="form-submit__input input" type="date" />
            </div>
            <div class="form-submit__group">
              <input class="form-submit__input input" type="date" />
            </div>
            <button class="form-submit__btn btn" type="button">Показать</button>
          </div>
        </div>
        <div class="translation-box">
          <span class="translation-box__name">
            История переводов внутри проекта
          </span>
          <ul class="translation-box__list">
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
          </ul>
        </div>
      </div>
      <div class="translation__col">
        <div class="form-submit">
          <div class="form-submit__inner flex">
            <p>Всего личных средств</p>
            <div class="form-submit__group">
              <input
                class="form-submit__input form-submit__input--text-center input"
                type="text"
                value="500"
              />
            </div>

            <button
              class="form-submit__btn btn form-submit__btn--create btn-create-right"
              type="button"
            >
              Создать перевод
            </button>
          </div>
        </div>
        <div class="translation-box">
          <span class="translation-box__name">
            История изминения личных средств
          </span>
          <ul class="translation-box__list">
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
            <li class="translation-box__item"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
