<section class="cabinet-selector">
  <div class="container">
    <div class="cabinet-selector__wrapper">
      <h2 class="cabinet-selector__title">Запросы на игру от себя</h2>

      <div
        class="cabinet-selector__content"
        data-simplebar
        data-simplebar-auto-hide="false"
      >
        <div class="cabinet-selector__table">
          <ul class="cabinet-selector__list">
            <li class="cabinet-selector__row">
              <div class="cabinet-selector__item">Игрок</div>
              <div class="cabinet-selector__item">Данные на игрока</div>
              <div class="cabinet-selector__item">Запрашиваемый турнир</div>
              <div class="cabinet-selector__item">С какого ранга разрешен</div>
              <div class="cabinet-selector__item">Ответ по запросу</div>
              <div class="cabinet-selector__item">Комментарий</div>
            </li>
            <li class="cabinet-selector__row">
              <div class="cabinet-selector__item">MaxPanteleevv</div>
              <div class="cabinet-selector__item">Ранг игрока: 10 АБИ</div>
              <div class="cabinet-selector__item">Bounty Builder $215</div>
              <div class="cabinet-selector__item">12</div>
              <div class="cabinet-selector__item">
                <select class="select">
                  <option value="1">Select</option>
                  <option value="2">Select</option>
                  <option value="3">Select</option>
                </select>
              </div>
              <div class="cabinet-selector__item not-considered"></div>
            </li>
            <li class="cabinet-selector__row">
              <div class="cabinet-selector__item">Ada Lovelace</div>
              <div class="cabinet-selector__item">Ранг игрока: 10 АБИ</div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item not-considered">
                <button class="edit-btn">edit</button>
              </div>
            </li>
            <li class="cabinet-selector__row">
              <div class="cabinet-selector__item">Grace Hoper</div>
              <div class="cabinet-selector__item">Ранг игрока: 10 АБИ</div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item not-considered">
                <button class="edit-btn">edit</button>
              </div>
            </li>
            <li class="cabinet-selector__row">
              <div class="cabinet-selector__item">Margaret Hamilton</div>
              <div class="cabinet-selector__item">Ранг игрока: 10 АБИ</div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item not-considered">
                <button class="edit-btn">edit</button>
              </div>
            </li>
            <li class="cabinet-selector__row">
              <div class="cabinet-selector__item">Joan Clarke</div>
              <div class="cabinet-selector__item">Ранг игрока: 10 АБИ</div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item">
                <button class="edit-btn">edit</button>
              </div>
              <div class="cabinet-selector__item not-considered">
                <button class="edit-btn">edit</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
