<section class="tournaments">
  <div class="container-1600">
    <div class="tournaments__wrapper">
      <div class="tournaments__cols">
        <div class="tournaments__col">
          <div class="tournaments__top">
            <h2 class="tournaments__title">Сетка турниров</h2>

            <div class="tournaments__form form-submit">
              <div class="form-submit__top">
                <div class="form-submit__group">
                  <label class="form-submit__label" for="">Выбрать румы</label>
                  <select class="form-submit__select select">
                    <option value="1">Румы</option>
                    <option value="2">Румы</option>
                    <option value="3">Румы</option>
                  </select>
                </div>
                <div class="form-submit__group">
                  <label class="form-submit__label" for="">Buy-in от:</label>
                  <input class="form-submit__input input" type="text" />
                </div>
                <div class="form-submit__group">
                  <label class="form-submit__label" for="">до:</label>
                  <input class="form-submit__input input" type="text" />
                </div>
                <div class="form-submit__group">
                  <button
                    class="form-submit__btn btn btn-start-game"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
              <div class="form-submit__bottom">
                <div class="form-submit__date">
                  <label for="">Время начала:</label>
                  <input class="form-submit__input input" type="date" />
                </div>
                <div class="form-submit__date">
                  <label for="">Время окончания:</label>
                  <input class="form-submit__input input" type="date" />
                </div>
              </div>
            </div>
          </div>
          <div class="tournaments__table">
            <ul class="tournaments__list">
              <li class="tournaments__row">
                <div class="tournaments__item">Дата</div>
                <div class="tournaments__item">Время начала</div>
                <div class="tournaments__item">Рум</div>
                <div class="tournaments__item">Название турнира</div>
                <div class="tournaments__item">Buy-in</div>
                <div class="tournaments__item">Время окончания</div>
                <div class="tournaments__item">Комментарий</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tournaments__col">
          <div class="tournaments__top">
            <h2 class="tournaments__title">Серии</h2>

            <div class="tournaments__form form-submit">
              <div class="form-submit__top">
                <div class="form-submit__group">
                  <label class="form-submit__label" for="">Выбрать румы</label>
                  <select class="form-submit__select select">
                    <option value="1">Румы</option>
                    <option value="2">Румы</option>
                    <option value="3">Румы</option>
                  </select>
                </div>
                <div class="form-submit__group">
                  <label class="form-submit__label" for="">Buy-in от:</label>
                  <input class="form-submit__input input" type="text" />
                </div>
                <div class="form-submit__group">
                  <label class="form-submit__label" for="">до:</label>
                  <input class="form-submit__input input" type="text" />
                </div>
                <div class="form-submit__group">
                  <button
                    class="form-submit__btn btn btn-start-game"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
              <div class="form-submit__bottom">
                <div class="form-submit__date">
                  <label for="">Время начала:</label>
                  <input class="form-submit__input input" type="date" />
                </div>
                <div class="form-submit__date">
                  <label for="">Время окончания:</label>
                  <input class="form-submit__input input" type="date" />
                </div>
              </div>
            </div>
          </div>
          <div class="tournaments__table">
            <ul class="tournaments__list">
              <li class="tournaments__row">
                <div class="tournaments__item">Дата</div>
                <div class="tournaments__item">Время начала</div>
                <div class="tournaments__item">Рум</div>
                <div class="tournaments__item">Название турнира</div>
                <div class="tournaments__item">Buy-in</div>
                <div class="tournaments__item">Время окончания</div>
                <div class="tournaments__item">Комментарий</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
              <li class="tournaments__row">
                <div class="tournaments__item">08.10.2022</div>
                <div class="tournaments__item">18:30</div>
                <div class="tournaments__item">PS</div>
                <div class="tournaments__item">
                  $27 Satarday Eliminator <br />
                  <span>(Progressive KO)</span>
                </div>
                <div class="tournaments__item">27</div>
                <div class="tournaments__item">5:14</div>
                <div class="tournaments__item">-----</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tournaments__col">
      <div class="tournaments__top">
        <h2 class="tournaments__title">Игра от себя</h2>

        <button class="tournaments__btn btn btn-start-game" type="button">
          Отправить запрос на игру от себя
        </button>
      </div>
      <div class="tournaments__table tournaments__table--w-full">
        <ul class="tournaments__list">
          <li class="tournaments__row">
            <div class="tournaments__item">Дата</div>
            <div class="tournaments__item">Время начала</div>
            <div class="tournaments__item">Рум</div>
            <div class="tournaments__item">Название турнира</div>
            <div class="tournaments__item">Buy-in</div>
            <div class="tournaments__item">Статус запроса</div>
            <div class="tournaments__item">Комментарий</div>
          </li>
          <li class="tournaments__row">
            <div class="tournaments__item">08.10.2022</div>
            <div class="tournaments__item">18:30</div>
            <div class="tournaments__item">PS</div>
            <div class="tournaments__item">
              $27 Satarday Eliminator <br />
              <span>(Progressive KO)</span>
            </div>
            <div class="tournaments__item">27</div>
            <div class="tournaments__item from-me">От себя</div>
            <div class="tournaments__item edit-btn">edit</div>
          </li>
          <li class="tournaments__row">
            <div class="tournaments__item">08.10.2022</div>
            <div class="tournaments__item">18:30</div>
            <div class="tournaments__item">PS</div>
            <div class="tournaments__item">
              $27 Satarday Eliminator <br />
              <span>(Progressive KO)</span>
            </div>
            <div class="tournaments__item">27</div>
            <div class="tournaments__item in-pack">В пакет</div>
            <div class="tournaments__item edit-btn">edit</div>
          </li>
          <li class="tournaments__row">
            <div class="tournaments__item">08.10.2022</div>
            <div class="tournaments__item">18:30</div>
            <div class="tournaments__item">PS</div>
            <div class="tournaments__item">
              $27 Satarday Eliminator <br />
              <span>(Progressive KO)</span>
            </div>
            <div class="tournaments__item">27</div>
            <div class="tournaments__item not-considered">Не рассмотрен</div>
            <div class="tournaments__item edit-btn">edit</div>
          </li>
          <li class="tournaments__row">
            <div class="tournaments__item">08.10.2022</div>
            <div class="tournaments__item">18:30</div>
            <div class="tournaments__item">PS</div>
            <div class="tournaments__item">
              $27 Satarday Eliminator <br />
              <span>(Progressive KO)</span>
            </div>
            <div class="tournaments__item">27</div>
            <div class="tournaments__item from-me">От себя</div>
            <div class="tournaments__item edit-btn">edit</div>
          </li>
          <li class="tournaments__row">
            <div class="tournaments__item">08.10.2022</div>
            <div class="tournaments__item">18:30</div>
            <div class="tournaments__item">PS</div>
            <div class="tournaments__item">
              $27 Satarday Eliminator <br />
              <span>(Progressive KO)</span>
            </div>
            <div class="tournaments__item">27</div>
            <div class="tournaments__item in-pack">В пакет</div>
            <div class="tournaments__item edit-btn">edit</div>
          </li>
          <li class="tournaments__row">
            <div class="tournaments__item">08.10.2022</div>
            <div class="tournaments__item">18:30</div>
            <div class="tournaments__item">PS</div>
            <div class="tournaments__item">
              $27 Satarday Eliminator <br />
              <span>(Progressive KO)</span>
            </div>
            <div class="tournaments__item">27</div>
            <div class="tournaments__item not-considered">Не рассмотрен</div>
            <div class="tournaments__item edit-btn">edit</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
